@import '/src/styles/vars.scss';

.list {
  width: 28vw;
  font-size: 1.5vw;

  @media screen and (max-width: 1200px) {
    max-width: 336px;
    width: 100%;
    font-size: 18px;
  }

  @media screen and (max-width: 300px) {
    font-size: 6vw;
  }

  &__input {
    box-sizing: border-box;
    border: 2px solid $inactive;
    width: 100%;
    height: 4vw;
    padding: 0 1vw;
    color: $main;
    font-family: Roboto, sans-serif;

    @media screen and (max-width: 1200px) {
      height: 49px;
      padding: 12px;
    }

    @media screen and (max-width: 300px) {
      height: 16.3vw;
      padding: 0 4vw;
    }

    &::placeholder {
      user-select: none;
      pointer-events: none;
      color: $inactive;
    }

    &:hover {
      border-color: $accent;
    }

    &:focus {
      outline: none;
      border: 2px solid $main;
    }
  }

  &__items-container {
    margin: 0;
    box-sizing: border-box;
    border: 2px solid $inactive;
    border-top: none;
    width: 100%;
    padding: 1vw 1vw;
    color: $main;
    font-family: Roboto, sans-serif;
    background: white;

    @media screen and (max-width: 1200px) {
      padding: 12px;
    }
  }
}
