$item: '.item';

#{$item} {
  height: 3vw;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    #{$item}__deleteButton {
      display: inline-block;
    }
  }

  @media screen and (max-width: 1200px) {
    height: 36px;
  }

  @media screen and (max-width: 300px) {
    height: 12vw;
  }

  &__deleteButton {
    width: 10px;
    height: 10px;
    display: none;
    cursor: pointer;
  }

  &__text {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #d4b3d4;
    }
  }

  &_completed {
    text-decoration: line-through;
    color: #d4b3d4;

    #{$item}__text::before {
      border: 1px solid rgb(138, 32, 165);
    }
  }
}
