@import '/src/styles/mixins.scss';
@import '/src/styles/vars.scss';

$item: '.item';

#{$item} {
  height: 3vw;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    color: $accent;
    #{$item}__deleteButton {
      display: inline-block;
    }
  }

  @media screen and (max-width: 1200px) {
    height: 36px;
  }

  @media screen and (max-width: 300px) {
    height: 12vw;
  }

  &__deleteButton {
    width: 10px;
    height: 10px;
    display: none;
    cursor: pointer;
  }

  &__text {
    position: relative;
    padding-left: 2vw;
    cursor: pointer;
    user-select: none;

    @media screen and (max-width: 1200px) {
      padding-left: 24px;
    }
  
    @media screen and (max-width: 300px) {
      padding-left: 8vw;
    }

    &::before {
      @include material-icon;

      content: 'radio_button_unchecked';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: $inactive;
    }
  }

  &_completed {
    text-decoration: line-through;
    color: $inactive;

    #{$item}__text::before {
      content: 'task_alt';
      color: $main;
    }
  }
}