$primary-font: Montserrat, sans-serif;
$primary-color: #ed8919;
$base-font-size: 14px;
$font-color: #ececec;
$base-border-radius: 8px;
$main-bg: #333333;
$success-color: #4bb543;

/* Breakpoints */
$xxs: 320px;
$xs: 480px;
$sm: 768px;
$md: 1024px;
$lg: 1440px;
$xl: 1920px;
