// colors

$primary: #1a1a1a;
$muted-primary: lighten($primary, 50%);
$white: #ffffff;
$shadow-color: #00000040;

// entities

$shadow: $shadow-color 0 8px 15px;
$default-transition: 300ms cubic-bezier(.23, 1, 0.32, 1)
