@import '/src/styles/vars.scss';

.bottomPanel {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  user-select: none;
  color: $inactive;
  font-size: 0.9vw;

  @media screen and (max-width: 1200px) {
    font-size: 11px;
  }

  @media screen and (max-width: 300px) {
    font-size: 3.7vw;
  }

  &__itemsCounter {
    cursor: default;
  }

  &__clearButton {
    color: $inactive;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;

    &:hover {
      color: $accent;
    }
  }
}
